.project-heading {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
  color: #343a40;
}

.project-subheading {
  text-align: center;
  margin-bottom: 30px;
  color: #6c757d;
}

.project-card-view {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.project-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.horizontal-scroll-container img {
  margin-right: 10px;
}
