/* Project Section Styling */
.project-section {
    padding: 60px 0;
    background-color: #e9ecf1; /* Background color */
  }
  
  .project-heading {
    color: #414141 !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
    text-align: center;
    padding-bottom: 15px;
  }
  
  .project-heading .purple {
    color: #0047ab;
  }
  
  .project-card-view {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card-view:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project-card-view img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .project-card-view .card-body {
    padding: 20px;
  }
  
  .project-card-view .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .project-card-view .card-text {
    font-size: 1rem;
    color: #333;
  }
  
  .project-card-view .card-text.purple {
    color: #0047ab;
  }
  
  .download-button {
    background-color: #0047ab;
    border: none;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #0047ab;
  }
  
  .project-subheading {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 20px;
  }
  
  /* Horizontal Scroll Container */
  .horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  
  .horizontal-scroll-container img {
    flex-shrink: 0;
    width: auto;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  /* Responsive Design */
  .project-image-full {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media (max-width: 767px) {
    .project-heading {
      font-size: 2rem;
    }
  
    .horizontal-scroll-container img {
      max-width: 100%;
      margin-right: 5px;
      height: auto;
    }
  
    .project-image-full {
      width: 100%;
      height: auto;
    }
  }
  