/* FOOTER STYLES */
  .footer {
    background-color: #343e47;
    padding: 20px;
    text-align: center;
    position: relative; 
    bottom: 0;
    width: 100%; 
  }
  
  .footer-copywright {
    flex: 1;
  }
  
  .footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  